<!DOCTYPE html> 
<html> 

	<head>
		<style type="text/css">
			html { font-family: "Avenir" !important; }
			#users { list-style: none; }
		</style> 
	</head> 

	<body>
		<h1>Hello world</h1> 

		<h4>Add a user here:</h4> 


		<form action="">
			<label>Name</label> </br> 
			<input id="name"/> </br> 
			<label>Email</label> </br> 
			<input id="email"/> </br> 
			<button>Send</button>
		</form>

		<h4>The following users exist:</h4> 
		<ul id="users">

		</ul>



		<!-- JS start --> 
		<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
		<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
		<script>

			$(document).ready(function () {
				// To make an AJAX request for JSON resources 
				var users = []; 


				// AJAX to obtain USER list 
				$.ajax({
					dataType: "json", 
					url: window.hostname,
					success: function (data) {
						users = data; 
						data.forEach(function (u) {
							$('#users').append($('<li>').text(u.name + " | " + u.email)); 
						}); 
					}
				}); 	

				// Socket communication 
				var socket = io.connect(window.hostname + "/users"); 

				$("form").submit(function () {
					// Grab name values + construct JSON 
					var name = $('#name').val();
					var email = $('#email').val(); 
					var userJSON = { user: { name: name, email: email }}; 

					// Emit socket info 
					socket.emit('users', userJSON);

					// Clear these values 
					$('#name').val('');
					$('#email').val(''); 
				}); 

				





			}); 

		</script>
	</body> 

</html> 





